body{
    font-family: 'Volkhov', serif;
}

h1, h2, h3 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, Arial, sans-serif;
}

img{
    border-radius:50%;
    display: block;
    text-align: center;
    width: 50%;
    z-index: 100;
    min-width:100px;
    max-width: 300px;
}